* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: rgba(1, 207, 194, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

main {
  width: 90rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  row-gap: 5rem;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  width: 24rem;
  height: 31rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 15px 15px 0px -3px rgba(0, 185, 190, 1);
  -webkit-box-shadow: 15px 15px 0px -3px rgba(0, 185, 190, 1);
  -moz-box-shadow: 15px 15px 0px -3px rgba(0, 185, 190, 1);
  margin: 10px 20px;
}

.boxCard2, .boxCard4,.boxCard6 {
  width: 100%;
  height: 21rem;
  border-radius: 3rem;
  position: relative;
}

.card1 {
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.card1 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  color: #46179b;
  border-top: 5px solid #0094a0;
  border-bottom: 5px solid #0094a0;
}

.card2 {
  display: flex;
  padding: 1.5rem;
  position: relative;
}

.boxCard2 {
  background-color: #46179b;
}

.card2img {
  width: 100%;
  padding: 3rem;
}

.arrow {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 5.2rem;
  z-index: 5;
}

.card2 h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 2rem;
  text-transform: uppercase;
  color: #46179b;
}

.card3 {
  display: flex;
  align-items: center;
  position: relative;
}

#boxborder {
  width: 90%;
  height: 25rem;
  background-color: #fff;
  border: 8px solid #451899;
  border-radius: 40px;
  margin-top: 10px;
}

.card3img {
  width: 100%;
  padding: 2.5rem 1.5rem 0;
}

.card3 h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #46179b;
  background-color: #fff;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}

.card4 {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.boxCard4 {
  background-color: #7732c1;
}

.card4img {
  width: 100%;
  padding: 1.5rem;
}

.card4 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #0094a0;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
}

.card5 {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.5rem;
}

#boxborder2 {
  width: 92%;
  height: 19rem;
  background-color: #fff;
  border: 0.5rem solid #451899;
  margin-top: 3rem;
  padding: 1rem 1rem;
}

.card5img {
  width: 100%;
}

.card5 h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #0094a0;
  padding: 0.5rem 2.8rem;
  border-radius: 2rem;
}

.arrow2 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 6.3rem;
  z-index: 0;
}

.card6 {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.boxCard6 {
  background-color: #0094a0;
}

.card6img {
  width: 100%;
  padding: 0.8rem;
}

.card6 h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
  color: #46179b;
  margin: 1.2rem 0px;
  border-radius: 2rem;
  border: 5px solid #46179b;
  padding: 5px 10px;
}

@media screen and (max-width: 850px) {
  body {
    padding: 5rem;
  }
}
